.embedded-content { 
    width: 100%; 
    height: 450px;
    border: none;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



/* Changes all link */
/* a:-webkit-any-link {
    color: #131E29;
} */
/* a:hover {
    text-decoration: underline;
  } */
  
/*moved margin left for divs*/
.tab { margin-left: 40px; }
/* type settings*/

/* .md-typeset h1 {
    color: #131E29;
    font-size: 2em;
    line-height: 1.3;
    margin: 1.25em 0 1.25em;
}

.md-typeset h2, h3 {
    color: #131E29;
}


p {
    line-height: 30px;
    margin-bottom: 0px;
    color: #131E29;
     
}*/

/* customization to defult theme*/
:root {
    --md-primary-fg-color:               #2F5E19;
    --md-primary-fg-color--light:        #F3F3F4;
    --md-primary-fg-color--dark:         #ED71C0;
    --md-button--primary: #F3F3F4;
    --md-accent-fg-color: #4298B5;
    --md-tabs__link:  #F3F3F4;
    --md-tabs: #F3F3F4;
    --md-text-font: "Open Sans";
    
  }

  @font-face {
    font-family:  "Poppins";
    src: "...";
  }

  .md-typeset h1 {
    color: rgb(0, 0, 0);
    font-family: "Poppins";
    font-size: 36px;
  } 

  .imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  } 

  .img {
    border: 1px solid black;
    margin-bottom: 10px;
  } 

